:root {
	--clr-bgd: white;
	--clr-fgd: white;
	--clr-correct: #6aaa64;
	--clr-partial: #c9b458;
	--clr-darkgrey: #787c7e;
	--clr-grey: #878a8c;
	--clr-lightgrey: #d3d6da;

	--clr-sq-border: var(--clr-lightgrey);
	--clr-sq-dirty: black;
	--clr-text: black;
	--clr-text-status: white;
	--clr-keybd-bgd: var(--clr-lightgrey);
	--clr-settings-small: var(--clr-grey);

	/* --min-width: 51.25rem; */
	--min-width: min(100vw, (calc(100dvh * 2 / 3)));
	font-size: calc(var(--min-width) / 35);
}

@media only screen and (max-width: 480px) {
	:root {
		--min-width: 390px;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: var(--min-width);
	max-width: var(--min-width);
	min-width: var(--min-width);
	user-select: none;
	background-color: var(--clr-bgd);
	height: 100dvh;
	position: relative;
	font-family: arial;
	touch-action: manipulation;
	margin: 0 auto;
	overflow: hidden;
	padding: 0.25rem;
}
body > div {
	width: 100%;
	height: 100%;
	padding-bottom: 1rem;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}

body > div:not(.panel, .panel *) {
	user-select: text;
}

body > div > * {
	width: 100%
	/* width: calc(var(--min-width) * 0.96); */
}

.dark-theme {
	--clr-bgd: #121213;
	--clr-grey: #3a3a3c;
	--clr-darkgrey: #3a3a3c;
	--clr-sq-border: #3a3a3c;
	--clr-sq-dirty: #565758;
	--clr-text: #d7dadc;
	--clr-text-status: #d7dadc;
	--clr-keybd-bgd: #818384;
	--clr-settings-small: #818384;
	color: #d7dadc !important;
}

.color-blind {
	--clr-correct: #f5793a;
	--clr-partial: #85c0f9;
}

main {
	--base-dim: 1rem;
}

nav {
	height: 3.125rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
}

nav a {
	width: 2rem;
	padding: 0 0.25rem;
	margin-top: 0.9375rem;
	/* color: var(--clr-grey); */
	color: black;
	cursor: pointer;
}

nav > div:first-child > a:first-child {
	height: 1.25rem;
	width: 1.25rem;
	padding: 0 !important;
	margin-right: 0.5rem;
	margin-left: 0.25rem;
	border: 0.125rem solid black;
	border-radius: 50%;
}

nav > h1 {
	margin-top: 0.25rem;
	/* font-size: 2.25rem; */
	font-weight: 600;
	letter-spacing: 0.1875rem;
	text-align: center;
	vertical-align: center;
	height: min-content;
	align-self: center;
}

nav > .menu {
	display: flex;
	flex-direction: row;
}

.reset,
.statistics,
.settings {
	fill: var(--clr-grey);
	/* background-color: var(--clr-grey); */
	background-repeat: no-repeat;
}

.reset {
	margin-top: 0.9rem;
	background-size: 70%;
	background-image: url(./icons/reset.svg);
}

.statistics {
	background-size: 90%;
	background-image: url(./icons/leaderboard.svg);
	transform: translateY(-0.25rem) translateX(-0.25rem);
}

.settings {
	margin-bottom: 0.625rem;
	padding: 0 !important;
	background-size: 65%;
	background-image: url(./icons/settings.svg);
}

hr {
	height: 0.0625rem;
	border: none;
	background-color: var(--clr-sq-border);
	width: 100%;
}

.board {
	--len: 0;
	--tries: 0;
	--scale: 4;
	--vh-scale: 7.5vh;
	--board-height: min(
		min(
			calc(var(--scale) * var(--base-dim) * var(--tries)),
			calc(var(--vh-scale) * var(--tries))
		),
		var(--min-width)
	);
	--board-width: min(
		min(
			calc(var(--scale) * var(--base-dim) * var(--len)),
			calc(var(--vh-scale) * var(--len))
		),
		var(--min-width)
	);
	--gap: min(0.3125rem, 2%);
	height: calc(var(--board-height) + var(--gap) * (var(--tries) - 1));
	width: calc(var(--board-width) + var(--gap) * (var(--len) - 1));
	display: grid;
	gap: var(--gap);
	grid-template-columns: repeat(var(--len), 1fr);
	margin: 0.5625rem 0;
}

/* @media only screen and (max-width: 480px) {
	.board {
		--vh-scale: 10vh;
	}
} */

.square {
	/* --font-size: min(var(--base-dim) * 2, 5vh); */
	--offset: 70%;
	height: calc(var(--board-height) / var(--tries));
	width: calc(var(--board-width) / var(--len));
	color: var(--clr-text);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	/* padding-top: calc(var(--offset) - var(--font-size)); */
	border: 0.125rem solid var(--clr-sq-border);
}

.square.pop {
	animation-name: PopIn;
	animation-duration: 100ms;
}

@keyframes PopIn {
	from {
		transform: scale(0.8);
		opacity: 0;
	}

	40% {
		transform: scale(1.1);
		opacity: 1;
	}
}

.square.flip-in {
	animation-name: FlipIn;
	animation-duration: 250ms;
	animation-timing-function: ease-in;
}

@keyframes FlipIn {
	0% {
		transform: rotateX(0);
	}
	100% {
		transform: rotateX(-90deg);
	}
}

.square.flip-out {
	animation-name: FlipOut;
	animation-duration: 250ms;
	animation-timing-function: ease-in;
}

@keyframes FlipOut {
	0% {
		transform: rotateX(-90deg);
	}
	100% {
		transform: rotateX(0);
	}
}

.square.bounce {
	animation-name: Bounce;
	animation-duration: 1000ms;
}

@keyframes Bounce {
	0%,
	20% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-1.875rem);
	}
	50% {
		transform: translateY(0.3125rem);
	}
	60% {
		transform: translateY(-0.9375rem);
	}
	80% {
		transform: translateY(0.125rem);
	}
	100% {
		transform: translateY(0);
	}
}

.square.shake {
	animation-name: Shake;
	animation-duration: 500ms;
}

@keyframes Shake {
	10%,
	90% {
		transform: translateX(-0.0625rem);
	}
	20%,
	80% {
		transform: translateX(0.125rem);
	}
	30%,
	50%,
	70% {
		transform: translateX(-0.25rem);
	}
	40%,
	60% {
		transform: translateX(0.25rem);
	}
}

.keyboard {
	/* height: 190px; */
	/* height: 30%; */
	height: fit-content;
	/* width: var(--min-width); */
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	grid-gap: 4.5% 1.25%;
	padding: 0 1rem;
	margin-bottom: 0.625rem;
}

.keyboard > * {
	--value: '';
	border-radius: 0.3125rem;
	border: none;
	grid-column: span 2;
	font-weight: bold;
	color: var(--clr-text);
	padding: 0.5rem;
	font-size: 1.25rem;
	height: 4.5rem;
	background-color: var(--clr-keybd-bgd);
	cursor: pointer;
}
.keyboard > [data-value='ENTER'] {
	font-size: 0.85rem;
}

.keyboard > .grid-wide {
	grid-column: span 3 !important;
}

.keyboard > .skinny {
	max-width: 66.666%;
}

.keyboard > .align-right {
	margin-left: 33.333%;
}

.correct,
.partial,
.wrong {
	color: var(--clr-text-status);
}

.square:is(.correct, .partial, .wrong) {
	--p-top: 0.5rem;
	padding-top: var(--p-top);
	border: none;
}

@media only screen and (max-width: 480px) {
	.square:is(.correct, .partial, .wrong) {
		--p-top: 0.25rem;
	}
}

.correct {
	background-color: var(--clr-correct);
}

.partial {
	background-color: var(--clr-partial);
}

.wrong {
	background-color: var(--clr-darkgrey);
}
/* 
.menu {
	display: flex;
	flex-direction: row;
	align-items: center;
} */

.translucent {
	background: rgba(138, 131, 131, 0.103) !important;
}

.panel.countdown {
	display: flex;
	justify-content: center;
}

.panel.countdown h1 {
	/* font-size: 12.5rem; */
	margin-top: 30vh;
}

.main-menu {
	padding: 1rem;
	padding-top: 5rem;
}

.main-menu,
.main-menu main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-menu *:not(.modal, .modal *) {
	display: flex;
	justify-content: center;
}

.main-menu > main > button {
	width: 80%;
	height: 2rem;
	margin: 1rem;
	border: 0.0625rem solid;
	border-radius: 0.3125rem;
	font-size: 1.5rem;
}

.main-menu > button:nth-child(3) {
	margin-bottom: 0.1rem;
}

.main-menu .modal button {
}

.modal {
	width: 100%;
	height: 100%;
	background-color: var(--clr-bgd);
	position: fixed;
	display: flex;
	justify-content: space-around;
	inset: 0;
	overflow-y: auto;
}

.modal > .panel {
	width: var(--min-width);
	padding: 0 0.4375rem;
}

.modal > .panel > :is(p, span, hr) {
	/* font-size: 10.25rem; */
	margin-bottom: 1rem;
}

.modal > .panel .modal-header h3 {
	font-size: 1.1rem;
}

.modal > .panel .modal-header h3 {
	margin-top: 0.8rem;
	margin-bottom: 1rem;
	text-align: center;
}

.modal-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.justify-center {
	justify-content: center !important;
}

.modal-header .filler {
	width: 2.5rem;
	height: 2.5rem;
	/* font-size: 20.25rem; */
	padding: 0.5em;
}

.modal-header .filler:not(:first-child) {
	cursor: pointer;
}

.example {
	--len: 0;
	--s-dim: 2.5rem;
	box-sizing: border-box;
	width: calc(var(--len) * var(--s-dim));
	display: grid;
	grid-template-columns: repeat(var(--len), 1fr);
	margin-top: 1.6rem;
	margin-bottom: 1rem;
}

.example .square {
	height: var(--s-dim);
	width: var(--s-dim);
	border-color: var(--clr-sq-border);
	margin-right: 0.25rem;
	font-size: 2rem;
}

.example .square:is(.correct, .partial, .wrong) {
	padding-top: 0.1875rem;
}

.floating h3 {
	margin-bottom: 0 !important;
}

.main-stats :is(.data, .labels) {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

.main-stats :is(.data, .labels) * {
	margin: 0.3125rem;
	margin-bottom: 0.9375rem;
	width: 17%;
	height: 0.75rem;
}

.distribution {
	margin: 0 auto;
	margin-top: 0.9375rem !important;
	width: 75%;
}

.distribution .guesses {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.1875rem;
}

.distribution .guesses p:nth-child(2) {
	color: var(--clr-text);
	min-width: 1.5625rem;
	text-align: right;
	padding-right: 0.5rem;
	margin-left: 0.125rem;
}

.setting {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.setting > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.setting input {
	background-color: var(--clr-bgd);
	color: var(--clr-text);
	max-width: calc(var(--min-width) / 5);
}

.setting > [type='checkbox']:not(:disabled) {
	cursor: pointer;
}

.setting h3 {
	font-weight: normal !important;
	font-size: 1.125rem !important;
	flex: 1;
}

.setting span {
	margin: 0 1rem;
}

.setting small {
	color: var(--clr-settings-small);
	font-size: 0.75rem;
}

.setting .label {
	text-align: right;
}

.setting .sel-border {
	--clr-shdw: var(--clr-correct);
	/* background-color: var(--clr-lightgrey); */
	border-color: var(--clr-correct);
	outline-color: var(--clr-correct);
	box-shadow: 0 0 0.125rem 0.0625rem var(--clr-shdw);
}

.setting .btn-setting {
	cursor: pointer;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	border-radius: 0.625rem;
	padding: 0.1875rem;
	height: 100%;
}

.setting .btn-setting:hover {
	background-color: rgb(199, 106, 106);
}
